@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<a asp-page="/Index" class="brand-link">
	<img src="~/images/Logo.png" alt="BEAST ADMIN" class="brand-logo" style="opacity: .8" />
	<span class="brand-text font-weight-light">BEAST ADMIN</span>
</a>